* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.centerblock {
    margin-top: 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centerblock form {
    width: 35em;
}


.blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocks>* {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn1 {
    height: 3.5em;
    width: 9em;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    background-color: white;
    color: black;
}

.btn1:active {
    /* X, Y, blur, color*/
    box-shadow: 2px 2px 2px black;
    transform: translateZ(5px);
    align-items: center;
}

.passcode {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid black;
}